<app-home-topnav></app-home-topnav>
<div id="body">
    <div class="uk-position-relative uk-visible-toggle uk-margin-medium-left uk-margin-medium-right uk-margin-medium-bottom uk-margin-medium-top "
        tabindex="-1" uk-slider="sets: true" id="safety">
        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-margin-large-left">
            <li>
                <img data-src="/assets/images/headsets.png" alt="" uk-img
                    class="uk-margin-xlarge-left uk-margin-medium-top">
            </li>
            <li>
                <img data-src="/assets/images/phones.png" alt="" uk-img
                    class="uk-margin-xlarge-left uk-margin-medium-top">
            </li>
            <li>
                <img data-src="/assets/images/powerbank.png" alt="" uk-img
                    class="uk-margin-large-left uk-margin-large-top">
            </li>
            <li>
                <img data-src="/assets/images/headsets.png" alt="" uk-img
                    class="uk-margin-xlarge-left uk-margin-medium-top">
            </li>
            <li>
                <img data-src="/assets/images/phones.png" alt="" uk-img
                    class="uk-margin-large-left uk-margin-medium-top">
            </li>
            <li>
                <img data-src="/assets/images/powerbank.png" alt="" uk-img
                    class=" uk-margin-large-left uk-margin-large-top">
            </li>
        </ul>
        <div class="uk-position-left uk-margin-medium-top">
            <div class="uk-margin-large-left uk-width-large">
                <h1 id="safety-heading">Tech Deals with <br> Free Delivery</h1>
                <button type="button" class="btn " id="btnnn"> <span id="word">Shop Now ></span> </button>
            </div>
        </div>
        <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"
            id="prev"></a>
        <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"
            id="next"></a>
    </div>

    <div class="uk-card uk-margin-medium-left uk-margin-medium-right uk-margin-medium-bottom uk-margin-medium-top ">
        <p class="featured-products" id="inline"> Featured Products</p>
        <a  href="#" id="inline" id="see-all1">See all -></a>
        <div class="uk-child-width-1-4@m uk-margin-small uk-margin-medium-bottom" uk-grid>
            <div>
                <div class="uk-card">
                    <div class="uk-card-media-top">
                        <img src="/assets/images/bag.png" alt="" id="hey">
                    </div>
                    <div id="inline">
                        <p id="inline-menn">Men’s Leather Bag
                        </p>
                        <p id="featured-money">₦25,000</p>
                    </div>
                    <div id="inline">
                      <a href="">
                        <img data-src="/assets/images/Cart.png" width="18"
                        height="" alt="" uk-img id="cart">
                      </a>  
                    
                    </div>
                    
                        <a id="heart"  id="inline">
                            <img src="/assets/images/heart.png" alt="" id="heart">
                        </a>
                 
                </div>
            </div>
            <div>
                <div class="uk-card">
                    <div class="uk-card-media-top">
                        <img src="/assets/images/shoes.png" alt="" id="hey">
                    </div>
                    <div id="inline">
                        <p id="inline-menn">Nike Sneakers
                        </p>
                        <p id="featured-money">₦10,000</p>
                    </div>
                    <div id="inline">
                        <a href="">
                          <img data-src="/assets/images/Cart.png" width="18"
                          height="" alt="" uk-img id="cart2">
                        </a>  
                      
                      </div>
                      
                          <a id="heart"  id="inline">
                              <img src="/assets/images/heart.png" alt="" id="heart">
                          </a>
                   
                    
                </div>
            </div>
            <div>
                <div class="uk-card">
                    <div class="uk-card-media-top">
                        <img src="/assets/images/watch.png" alt="" id="hey">
                    </div>
                    <div id="inline">
                        <p id="inline-menn">Quartz Wristwatch
                        </p>
                        <p id="featured-money">₦12,000</p>
                    </div>
                    <div id="inline">
                        <a href="">
                          <img data-src="/assets/images/Cart.png" width="18"
                          height="" alt="" uk-img id="cart">
                        </a>  
                      
                      </div>
                      
                          <a id="heart"  id="inline">
                              <img src="/assets/images/heart.png" alt="" id="heart">
                          </a>
                </div>
            </div>
            <div>
                <div class="uk-card">
                    <div class="uk-card-media-top ">
                        <img src="/assets/images/chair.png" alt="" id="hey">
                    </div>
                    <div id="inline">
                        <p id="inline-menn">Leather Couch
                        </p>
                        <p id="featured-money">₦100,000</p>
                    </div>
                    <div id="inline">
                        <a href="">
                          <img data-src="/assets/images/Cart.png" width="18"
                          height="" alt="" uk-img id="cart2">
                        </a>  
                      
                      </div>
                      
                          <a id="heart"  id="inline">
                              <img src="/assets/images/heart.png" alt="" id="heart">
                          </a>
                </div>
            </div>
        </div>
    </div>
    <p class="uk-margin-medium-left" id="popular-category">Popular Categories</p>
    <div class="uk-margin-medium-left uk-margin-medium-right" id="popular-categories">
      
        <div class="uk-child-width-expand@s uk-text-center uk-grid-match uk-margin-small-left  uk-margin-medium-right  uk-margin-medium-bottom"
            uk-grid>
            <div id="popular" >
                <div class="uk-margin-medium-top uk-inline-clip uk-transition-toggle" id="popular1">
                    <div id="inline">
                        <img src="/assets/images/shoes-2.png" alt="" class="uk-transition-scale-up uk-transition-opaque uk-margin-medium-top">
                    </div>
                    <div id="inline">
                        <img src="/assets/images/shirts.png" alt="" class="uk-transition-scale-up uk-transition-opaque uk-margin-medium-top">
                    </div>
                    <p id="popular-headings" class="uk-transition-scale-up uk-transition-opaque">Men’s Fashion</p>
                </div>
            </div>
            <div>
                <div class="uk-margin-medium-top uk-inline-clip uk-transition-toggle"  id="popular2">
                    <div id="inline">
                        <img src="/assets/images/sphones.png" alt="" class="uk-transition-scale-up uk-transition-opaque uk-margin-medium-top">
                    </div>
                    <div id="inline">
                        <img src="/assets/images/sphones2.png" alt="" class="uk-transition-scale-up uk-transition-opaque uk-margin-medium-top">
                    </div>
                    <p id="popular-headings" class="uk-transition-scale-up uk-transition-opaque uk-transition-scale-up uk-transition-opaque">Smartphones</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-margin-medium-top uk-inline-clip uk-transition-toggle" id="popular3">
                    <div id="popular3">
                        <img src="/assets/images/electronics.png" alt="" class="uk-margin-small-left uk-transition-scale-up uk-transition-opaque">
                    </div>
                    <p id="popular-headings" class="uk-transition-scale-up uk-transition-opaque">Electronics</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-margin-medium-top uk-inline-clip uk-transition-toggle" id="popular33">
                    <div id="popular33">
                        <img src="/assets/images/homekitchen.png" alt="" class="uk-margin-small-left uk-transition-scale-up uk-transition-opaque">
                    </div>
                    <p id="popular-headings" class="uk-transition-scale-up uk-transition-opaque">Home and Kitchen</p>
                </div>
            </div>
        </div>
        <div class="uk-child-width-expand@s uk-text-center uk-grid-match uk-margin-small-left uk-margin-medium-right uk-margin-medium-bottom"
            uk-grid>
            <div id="popular">
                <div class="uk-card uk-card-default uk-card-body uk-margin-medium-bottom uk-inline-clip uk-transition-toggle" id="popular4">
                    <div id="popular4">
                        <img src="/assets/images/games.png" alt="" class="uk-margin-large-left uk-transition-scale-up uk-transition-opaque">
                    </div>
                    <p id="popular-headings" class="uk-transition-scale-up uk-transition-opaque">Games</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-margin-medium-bottom uk-inline-clip uk-transition-toggle" id="popular5">
                    <div id="popular5">
                        <img src="/assets/images/sports.png" alt="" class="uk-margin-large-left uk-transition-scale-up uk-transition-opaque">
                    </div>
                    <p id="popular-headings" class="uk-transition-scale-up uk-transition-opaque">Baby and Kids Wears</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-margin-medium-bottom uk-inline-clip uk-transition-toggle"  id="popular6">
                    <div id="popular6">

                        <img src="/assets/images/bath.png" alt="" class="uk-margin-large-left uk-transition-scale-up uk-transition-opaque">
                        <P id="popular-headings" class="uk-transition-scale-up uk-transition-opaque">Beauty and Health</P>

                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-margin-medium-bottom uk-inline-clip uk-transition-toggle" id="popular7">

                    <div id="popular7" class="uk-transition-scale-up uk-transition-opaque">
                        <img src="/assets/images/babywears.png" alt="" class="uk-margin-large-left">
                    </div>
                    <p id="popular-headings" class="uk-transition-scale-up uk-transition-opaque">Baby and Kids Wears</p>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-child-width-expand@s uk-grid-match uk-margin-small-left  uk-margin-medium-right  uk-margin-medium-bottom" uk-grid>
        <div>
            <div id="furniture-discount">
                <div id="inline" class="uk-margin-xlarge-bottom uk-margin-xlarge-left">
                    <h2 id="furniture-heading">Furniture Deals</h2>
                    <p id="furniture-paragraph">Check out discounted deals!!!</p>
                       <button type="button" class="btn " id="btnnnn"> <span id="furniture-word">40% off </span> </button>
                   </div>
                <div id="inline">
                    <img src="/assets/images/image-24.png" alt="" class="uk-margin-large-left" id="chair">
                </div>
                
            </div>
        </div>
        <div>
            <div id="mackbook-deals">
                <div id="inline">
                    <img src="/assets/images/image-23.png" alt="" class="uk-margin-xlarge-left">
                </div>
                <div id="inline" class="uk-margin-xlarge-top uk-margin-medium-left">
                 <h2 id="macbook-heading">Macbook Pro</h2>
                 <p id="macbook-paragraph">More power, <br> More performance, <br> More pro</p>
                    <button type="button" class="btn " id="btnnn"> <span id="word">Buy now ></span> </button>
                </div>
            </div>
        </div>
       
    </div>
    <div class="uk-card uk-margin-medium-left uk-margin-medium-right">
        <p class="featured-products" id="inline"> Recently Viewed</p>
        <a  href="#" id="inline" id="see-all">See all -></a>
        <div class="uk-child-width-1-4@m uk-margin-small uk-margin-medium-bottom" uk-grid>
            <div>
                <div class="uk-card">
                    
                        <img src="/assets/images/bag-sold.png" alt="" id="hey">
                        <div class="uk-overlay uk-overlay-default uk-position-top-right" id="overlay">
                            <p id="overlay-paragraph">105pcs</p>
                   
                    </div>
                    <div id="inline">
                        <p id="inline-menn">Men’s Leather Bag
                        </p>
                        <p id="featured-money">₦15,000</p>
                    </div>
                    <div id="inline">
                      <a href="">
                        <img data-src="/assets/images/Cart.png" width="18"
                        height="" alt="" uk-img id="cart">
                      </a>  
                    
                    </div>
                    
                        <a id="heart"  id="inline">
                            <img src="/assets/images/heart.png" alt="" id="heart2">
                        </a>
                 
                </div>
            </div>
            <div>
                <div class="uk-card">
                    <div class="uk-card-media-top">
                        <img src="/assets/images/shoes.png" alt="" id="hey">
                        <div class="uk-overlay uk-overlay-default uk-position-top-right" id="overlay">
                            <p id="overlay-paragraph">100pcs</p>
                    </div>
                    </div>
                    <div id="inline">
                        <p id="inline-menn">Nike Sneakers
                        </p>
                        <p id="featured-money">₦10,000</p>
                    </div>
                    <div id="inline">
                        <a href="">
                          <img data-src="/assets/images/Cart.png" width="18"
                          height="" alt="" uk-img id="cart2">
                        </a>  
                      
                      </div>
                      
                          <a id="heart"  id="inline">
                              <img src="/assets/images/heart.png" alt="" id="heart">
                          </a>
                   
                    
                </div>
            </div>
            <div>
                <div class="uk-card">
                    <div class="uk-card-media-top">
                        <img src="/assets/images/watch.png" alt="" id="hey">
                        <div class="uk-overlay uk-overlay-default uk-position-top-right" id="overlay">
                            <p id="overlay-paragraph">Out Of Stock</p>
                    </div>
                    </div>
                    <div id="inline">
                        <p id="inline-menn">Quartz Wristwatch
                        </p>
                        <p id="featured-money">₦12,000</p>
                    </div>
                    <div id="inline">
                        <a href="">
                          <img data-src="/assets/images/Cart.png" width="18"
                          height="" alt="" uk-img id="cart">
                        </a>  
                      
                      </div>
                      
                          <a id="heart"  id="inline">
                              <img src="/assets/images/heart.png" alt="" id="heart2">
                          </a>
                </div>
            </div>
            <div>
                <div class="uk-card uk-margin">
                    <div class="uk-card-media-top">
                        <img src="/assets/images/chair.png" alt="" id="hey">
                        <div class="uk-overlay uk-overlay-default uk-position-top-right" id="overlay">
                            <p id="overlay-paragraph">45pcs</p>
                    </div>
                    <div id="inline">
                        <p id="inline-menn">Leather Couch
                        </p>
                        <p id="featured-money">₦100,000</p>
                    </div>
                    <div id="inline">
                        <a href="">
                          <img data-src="/assets/images/Cart.png" width="18"
                          height="" alt="" uk-img id="cart2">
                        </a>  
                      
                      </div>
                      
                          <a id="heart"  id="inline">
                              <img src="/assets/images/heart.png" alt="" id="heart">
                          </a>
                </div>
            </div>
        </div>
    </div>
    <!-- <svg width="1440" height="897" viewBox="0 0 1440 897" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M-1 0H1440V750.196L-1 897V0Z" fill="#243853"/>
        
        </svg> -->
       
  
</div>
<app-footer-all></app-footer-all>