#body{
background-color: #F2F2F2;
font-family: Avenir;
}

#safety{
background: #FCCF00; 
border-radius: 6px;
}
#previcon{
margin: 6px;
}
#safe{
margin: 120px;
}
#popular-images{
margin: auto;
padding: 10px;
}
#headsets{
width: 400px;
}
#phoness{
width: 450px;
margin-left: 40px;
}
#power-bank{
margin-left: 100px;
}
#ahaa{
margin-top: 40px;
}
#safety-heading{
font-family: Avenir;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: 0em;
text-align: left;

}
#safety-paragraph{
font-family: Avenir;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
/* margin-left: 120px; */
margin-top: 20px;

}
#prev{
background-color: #ffffff;
border-radius: 50%;
color: black;

}
#next{
background-color: #ffffff;
border-radius: 50%;
color: black;

}
#btnnn{
margin-top: 15px;    
height: 40px;
width: 147px;
left: 730px;
top: 4210px;
background-color: #584DCD;
border-radius: 6px;
padding: 9px, 32px, 9px, 32px;
}
#word{
font-family: Avenir;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #ffffff;
}
#nex{
font-family: Avenir;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: right;
color: #584DCD;
margin-left: 277px;
}
#see-all1{
color: #584DCD;
margin-left: 1290px;
}
#see-all{
color: #584DCD;
margin-left: 1290px;
}
#see-all-inline{
display: inline;
margin: 6px;
margin-top: -0.3px;
}
#popular-categories{
background-color: #ffffff;
}
#popular-category{
font-family: Avenir;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
margin: 10px;
}
#popular1{
border-radius: 4px;
background: #e2ebf7;
}
#popular2{background: #f3e5e3;
}
#popular3{
background: #f1edd7;

}
#popular33{
background: #e5f7fa;

}
#popular4{
background: #e5f7fa;
}
#popular5{
background: #f1edd7;
}
#popular6{
background: #f3e5e3;
}
#popular7{
background:#e2ebf7;
}
#overlay{

height: 10px;
}
#overlay-paragraph{
font-family: Avenir;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: right;
}
#mac-image{
float: left;
margin-left: 130px;
padding: 10px;
margin-top: 70px;
}
#mac-div{
float: right;
margin-left: 10px;
}
#inline{
display: inline-block;
}
#inline-men-shoes{
float: left;
}
.featured-products{
font-family: Avenir;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
margin: 10px;
}
#popular-headings{
font-family: Avenir;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #000000;
}
#furniture-discount{
background: #2D9CDB;

}
#mackbook-deals{
background-color: black;
}
#macbook-heading{
font-family: Avenir;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: -0.30000001192092896px;
text-align: left;
color: #F2F2F2;
margin-top: 80px;
}
#macbook-paragraph{
font-family: Avenir;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.30000001192092896px;
text-align: left;

}
#inline2{
display: inline-block;
background-color: black;
color: #ffffff;
}

#btnnnn{
/* width: 235px; */
height: 40px;
width: 200px;
text-align: center;
background: #FCCF00;
border-radius: 50px;
margin: 10px;
padding: 7px, 64px, 7px, 64px;

}
#furniture-word{
font-family: Avenir;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 44px;
letter-spacing: -0.30000001192092896px;
text-align: center;
color: #333333;
}
#chair{
margin-top: 80px;
}
#hey{
width: 100%;
}
#inline-menn{
font-family: Avenir;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
margin-top: 10px;
}
#featured-money{
font-family: Avenir;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #EB5757;


}
.cart-mens-leather{
margin-top: -35px;
margin-left: 205px;
}
.heart-mens-leather{
margin-top: -30px;
margin-left: 27px;
}
.cart-mens-leather2{
margin-top: -35px;
margin-left: 180px;
}
.heart-mens-leather2{
margin-top: -30px;
margin-left: 27px;
}

@media only screen and (max-width: 414px){

#see-all{
color: #584DCD;
margin-left: 908px;
}
#headsets{
width: 350px;
}
#phoness{
width: 200px;

}
/* #power-bank{
margin-left: -100px;
background-color: red;
}  */
    
.cart-mens-leather{
margin-top: -45px;
margin-left: 167px;
}
.heart-mens-leather{
margin-top: -40px;
margin-left: 30px;
}
.cart-mens-leather2{
margin-top: -45px;
margin-left: 146px;
}
.heart-mens-leather2{
margin-top: -40px;
margin-left: 30px;
}

#mac-image-phone{
width: 250px;
margin-left: -120px;
padding: 10px;
margin-top: -20px;
}

 /* #macbook-heading{
font-family: Avenir;
font-size: 22px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: -0.30000001192092896px;
text-align: left;
color: #F2F2F2;
margin-top: -43px;
margin-left: 180px;

} 
#macbook-paragraph{
font-family: Avenir;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.30000001192092896px;
text-align: left;
margin-left: 180px;
margin-top: -60px;
}  */
#safety-heading{
font-family: Avenir;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
margin-top: 10px;
}


.featured-products{
font-family: Avenir;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
margin: 10px;
}
#headsets{
width: 350px;
}
#phoness{
width: 300px;
margin-left: -60px;
}
#power-bank{
margin-left: 90px;
}    
}
@media only screen  and (min-width:1280px){
#see-all1{
color: #584DCD;
margin-left: 890px;
}
#see-all{
color: #584DCD;
margin-left: 908px;
}
#headsets{
width: 350px;
}
#phoness{
width: 200px;

}
/* #power-bank{
margin-left: -100px;
background-color: red;
}  */

.cart-mens-leather{
margin-top: -65px;
margin-left: 185px;
}
.heart-mens-leather{
margin-top: -60px;
margin-left: 30px;
}
.cart-mens-leather2{
margin-top: -65px;
margin-left: 189px;
}
.heart-mens-leather2{
margin-top: -60px;
margin-left: 30px;
}
#mac-image{
float: left;
margin-left: 25px;
padding: 10px;
margin-top: 20px;
}
#mac-div{
float: right;
margin-left: 10px;
}
#safety-heading{
font-family: Avenir;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
margin-top: 10px;
}
#macbook-heading{
font-family: Avenir;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: -0.30000001192092896px;
text-align: left;
color: #F2F2F2;
margin-top: 30px;
}

.featured-products{
font-family: Avenir;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
margin: 10px;
}
#headsets{
width: 350px;
}
#phoness{
width: 300px;
margin-left: -60px;
}
#power-bank{
margin-left: 90px;
} 
} 

@media only screen and (min-width:1440px){
#see-all1{
color: #584DCD;
margin-left: 1050px;
}
#see-all{
color: #584DCD;
margin-left: 1265px;
}
.cart-mens-leather{
margin-top: -45px;
margin-left: 145px;
}
.heart-mens-leather{
margin-top: -40px;
margin-left: 27px;
}
.cart-mens-leather2{
margin-top: -45px;
margin-left: 120px;
}
.heart-mens-leather2{
margin-top: -40px;
margin-left: 27px;
}
#mac-image{
float: left;
margin-left: 95px;
padding: 10px;
margin-top: 30px;
}
#mac-div{
float: right;
margin-left: 10px;
}
#safety-heading{
font-family: Avenir;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
margin-top: 10px;
}
#macbook-heading{
font-family: Avenir;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: -0.30000001192092896px;
text-align: left;
color: #F2F2F2;
margin-top: 40px;
margin-left: 30px;
}

.featured-products{
font-family: Avenir;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
margin: 10px;
}
#headsets{
width: 350px;
}
#phoness{
width: 300px;
margin-left: -60px;
}
#power-bank{
margin-left: 190px;
} 
}

@media only screen and (min-width:1600px){
#see-all1{
color: #584DCD;
margin-left: 1225px;
}
#see-all{
color: #584DCD;
margin-left: 1240px;
}
.cart-mens-leather{
margin-top: -45px;
margin-left: 175px;
}
.heart-mens-leather{
margin-top: -40px;
margin-left: 27px;
}
.cart-mens-leather2{
margin-top: -45px;
margin-left: 160px;
}
.heart-mens-leather2{
margin-top: -40px;
margin-left: 27px;
}
#mac-image{
float: left;
margin-left: 95px;
padding: 10px;
margin-top: 30px;
}
#mac-div{
float: right;
margin-left: 10px;
}
#safety-heading{
font-family: Avenir;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
margin-top: 10px;
}
#macbook-heading{
font-family: Avenir;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: -0.30000001192092896px;
text-align: left;
color: #F2F2F2;
margin-top: 40px;
margin-left: 30px;
}

.featured-products{
font-family: Avenir;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
margin: 10px;
}
#headsets{
width: 350px;
}
#phoness{
width: 300px;
margin-left: -60px;
}
#power-bank{
margin-left: 190px;
} 
}
@media only screen and (min-width:1650px){
#see-all1{
color: #584DCD;
margin-left: 1270px;
}
#see-all{
color: #584DCD;
margin-left: 1294px;
}
.cart-mens-leather{
margin-top: -45px;
margin-left: 185px;
}
.heart-mens-leather{
margin-top: -40px;
margin-left: 36px;
}
.cart-mens-leather2{
margin-top: -45px;
margin-left: 170px;
}
.heart-mens-leather2{
margin-top: -40px;
margin-left: 31px;
}
#mac-image{
float: left;
margin-left: 95px;
padding: 10px;
margin-top: 50px;
}
#mac-div{
float: right;
margin-left: 10px;
}
#safety-heading{
font-family: Avenir;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
margin-top: 10px;
}
#macbook-heading{
font-family: Avenir;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: -0.30000001192092896px;
text-align: left;
color: #F2F2F2;
margin-top: 60px;
margin-left: 30px;
}
}
.featured-products{
font-family: Avenir;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
margin: 10px;
}
#headsets{
width: 350px;
}
#phoness{
width: 300px;
margin-left: -60px;
}
#power-bank{
margin-left: 190px;
}  
@media only screen and (min-width:1700px){
#see-all1{
color: #584DCD;
margin-left: 1325px;
}
#see-all{
color: #584DCD;
margin-left: 1344px;
}
.cart-mens-leather{
margin-top: -45px;
margin-left: 199px;
}
.heart-mens-leather{
margin-top: -40px;
margin-left: 40px;
}
.cart-mens-leather2{
margin-top: -45px;
margin-left: 185px;
}
.heart-mens-leather2{
margin-top: -40px;
margin-left: 30px;
}
#mac-image{
float: left;
margin-left: 115px;
padding: 10px;
margin-top: 50px;
}
#mac-div{
float: right;
margin-left: 10px;
}
#safety-heading{
font-family: Avenir;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
margin-top: 10px;
}
#macbook-heading{
font-family: Avenir;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 44px;
letter-spacing: -0.30000001192092896px;
text-align: left;
color: #F2F2F2;
margin-top: 60px;
margin-left: 50px;
}
}
.featured-products{
font-family: Avenir;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
margin: 10px;
}
#headsets{
width: 450px;
}
#phoness{
width: 300px;
margin-left: -60px;
}
#power-bank{
margin-left: 190px;
}  


