<div class="uk-child-width-expand@s uk-height-xlarge-bottom" uk-grid id="footer">
    <div class="uk-width-small" ></div>
    <div >

      <p class="uk-margin-large-top" id="connect">Connect </p>
      <p id="connect2">with us</p>
      <p id="social">
        <img src="assets/images/twitter.png" alt="" srcset="" class="social">
        <img src="assets/images/Vector.png" alt="" srcset="" class="social">
        <img src="assets/images/linkedin.png" alt="" srcset="" class="social">
      </p>
      <p class="uk-margin-large-bottom" id="contact-email">or email us at <br> info@openmarket.com</p> 
    </div>

    <div class="uk-margin-large-top">
      <p class="" id="privacy">
        Privacy
      </p>
      <p ><a href="#" id="privacy-ps">Cookies Policy</a></p>
      <p > <a href="#" id="privacy-ps">Privacy Policy</a></p>
      <p ><a href="#" id="privacy-ps">Terms & Condition</a></p>

    </div>
    <div class="uk-margin-large-top">

      <p  id="privacy">
        Get Help
      </p>
      <p ><a href="#" id="privacy-ps">FAQ’S</a></p>
      <p ><a href="#" id="privacy-ps">Contact us</a></p>

    </div>

    <div class="uk-margin-large-top">
      <p  id="privacy">
        Open Market
      </p>
      <p ><a href="#" id="privacy-ps">What we do</a></p>
      <p ><a href="#" id="privacy-ps">About Us</a></p>
    </div>

    <div>
      <div class="uk-margin-large-top">
        <p  id="copyright"> Copyright © 2020 Open Market. All <br> rights reserved.</p>
      </div>
    </div>
  </div>

