<nav class="uk-navbar-container uk-margin" uk-navbar id="nav">
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo uk-margin-medium-left" href="#" id="open-market">Open Market</a>


        <div class="uk-navbar-item uk-margin-large-left uk-visible@m">
            <form action="javascript:void(0)">
                <input class="uk-input uk-form-width-small" type="text" placeholder="Search for products" id="search">
                <button class="uk-button uk-button-default" id="search-button">Search</button>
            </form>
        </div>
        <div class="uk-navbar-right uk-margin-xlarge-left ">
            <ul class="uk-navbar-nav uk-visible@m"  id="side-navi" >
                <li>
                    <a href="#" id="words">

                        Category
                        <span class="uk-icon uk-margin-small-left"><img data-src="/assets/images/Category.png" width=""
                                height="" alt="" uk-img></span>
                    </a>
                </li>
            </ul>
            <ul class="uk-navbar-nav uk-visible@m">
                <li>
                    <a href="#" id="words">
                        Sell
                    </a>
                </li>
            </ul>
            <ul class="uk-navbar-nav uk-visible@m">
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right"><img data-src="/assets/images/Cart.png" width=""
                                height="" alt="" uk-img></span>
                        <span id="words">Cart</span>
                    </a>
                </li>
            </ul>
            <ul class="uk-navbar-nav uk-visible@m">
                <li>
                    <a href="#">
                        <span class="uk-icon "><img data-src="/assets/images/LoginB.png" width="" height="" alt=""
                                uk-img></span>
                        <span class="uk-icon "><img data-src="/assets/images/LoginA.png" width="" id="imageA" height=""
                                alt="" uk-img></span>
                        <span class="uk-icon uk-margin-small-right"><img data-src="/assets/images/Login.png" width=""
                                height="" alt="" uk-img></span>
                        <span id="words">Login</span>
                    </a>
                </li>
            </ul>
            <ul class="uk-navbar-nav uk-visible@m">
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right"><img data-src="/assets/images/Signup.png" width=""
                                height="" alt="" uk-img></span>
                        <span id="words">Sign Up</span>
                    </a>
                </li>
            </ul>
            <div class="uk-margin-small-left uk-hidden@m">
                <a href="#offcanvas" class="uk-navbar-toggle " uk-toggle="target: #offcanvas-nav" uk-icon="icon: table"></a>
              </div>
        </div>

        <div id="offcanvas-nav" uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar" id="off">
                <div class="uk-navbar-item ">
                    <form action="javascript:void(0)">
                        <input class="uk-input uk-form-width-small" type="text" placeholder="Search fo products" id="search">
                        <button class="uk-button uk-button-default" id="search-button">Search</button>
                    </form>
                </div>
                <ul class="uk-navbar-nav" >
                    <li>
                        <a href="#" id="words">
    
                            Category
                            <span class="uk-icon uk-margin-small-left"><img data-src="/assets/images/Category.png" width=""
                                    height="" alt="" uk-img></span>
                        </a>
                    </li>
                </ul>
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#" id="words">
                            Sell
                        </a>
                    </li>
                </ul>
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">
                            <span class="uk-icon uk-margin-small-right"><img data-src="/assets/images/Cart.png" width=""
                                    height="" alt="" uk-img></span>
                            <span id="words">Cart</span>
                        </a>
                    </li>
                </ul>
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">
                            <span class="uk-icon "><img data-src="/assets/images/LoginB.png" width="" height="" alt=""
                                    uk-img></span>
                            <span class="uk-icon "><img data-src="/assets/images/LoginA.png" width="" id="imageA" height=""
                                    alt="" uk-img></span>
                            <span class="uk-icon uk-margin-small-right"><img data-src="/assets/images/Login.png" width=""
                                    height="" alt="" uk-img></span>
                            <span id="words">Login</span>
                        </a>
                    </li>
                </ul>
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">
                            <span class="uk-icon uk-margin-small-right"><img data-src="/assets/images/Signup.png" width=""
                                    height="" alt="" uk-img></span>
                            <span id="words">Sign Up</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>