
#body{
        background-color: #F2F2F2;
        font-family: Avenir;
}
    #try{
        background: #243853;
        box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.25); 
    }
    
    #open-market{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 44px;
    color: #F2F2F2;
    }
    #nav-link{
        color: #FFFFFF;
    }
    .hello{
    padding: 9px 32px;
    height: 40px;
    background: #584DCD;
    border-radius: 6px;
    }
    #login{
    padding: 10px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    /* font-size: 1rem; */
    line-height: 22px;
    color: #FFB55E;
    }
    .sub-menu{
        text-decoration: none;
        list-style: none;  
    }
    
    #fluid-one{
    background: #243853;
    height: 750px;
    border-bottom-right-radius: 2050px 200px;
    }
    #ellipse7-orange{
    width: 777px;
    height: 426px;
    margin-left: 15px;
    
    }
    #ellipse74-girl{
        width: 450px;
        margin-left: -80px;
        margin-top: -550px;
        
        
    }
    /* #ellips70{
    
    margin-left: -90px;
    width: 40px;
    margin-top: -930px;
    
    
    } */
    #ellipse75{
        margin-left: -130px;
        width: 30px;
        margin-top: -1130px;
    }
    #ellipse71{
        margin-left: -50px;
        width: 20px;
        margin-top: -1200px;
    }
    #image{
    border-bottom-right-radius: 200px 200px;
    }
    #sell{
    margin: 30px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 68px;
    color: #F2F2F2;
    }
    #join{
    margin: 30px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 44px;
    color: #F2F2F2;
    }
    #btnn{
    margin: 40px;
    background: #584DCD;
    border-radius: 6px;
    }
    #word{
    font-size: 20px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    }
    #go-to-market{
    left: 244px;
    top: 528px;
    text-decoration: none;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #FFB55E;
    }
    #fluid-two{
    height: 480px; 
    margin-top: -55px;
    background: #F2F2F2;
    border-radius: 6px;
    border-bottom-right-radius: 2050px 200px;
    }
    #ooooo{
    margin-top: -90px;
    height: 626px; 
    background: #FFFFFF;
    border-radius: 6px;
    }
    #ooooo1{
        background-color: #F2F2F2;
    }
    #openmarket{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    margin-top: 30px;
    color: #333333;
    }
    .carde{
        margin: 30px;
    }
    .cardee{
        margin: 30px;
    }
    #mixed-yellow{
        margin-top: -450px;
    }
    #ryellow{
        background-color: #FCCF00;
    }
    #cards{
        width: 197.27px;
    height: 125.13px;
    border-radius: 4px;
    }
    #why{
    margin-left: 76px;
    margin-top: -50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 61px;
    color: #000000;
    }
    #open-market-brings{
    margin-left: 76px;      
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    }
    #artificial{
    margin-top: 70px;
    background: #c6ccd4;
    border-radius: 4.3566px;
    }
    #artificial-heading{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    }
    #textclass{
    font-family: Avenir;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding: 5px;
    
    }
    #textclass1{
        font-family: Avenir;
        font-size: 0.9em;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        padding: 5px;
        
        }
        #textclass2{
            font-family: Avenir;
            font-size: 0.9em;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            padding: 5px;
            
            }
            #textclass3{
                font-family: Avenir;
                font-size: 0.9em;
                font-style: normal;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                padding: 5px;
                
                }
                #textclass4{
                    font-family: Avenir;
                    font-size: 0.9em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: -5px;
                    padding: 5px;
                    
        }
    #security{
    background: #d2d1e2;
    border-radius: 4.3566px;
    }
    #quality{
    background: #ffefdc;
    border-radius: 4.3566px;
    }
    #affordable{
    background: #d0f5ec;
    height: 65px;
    border-radius: 4.3566px;
    }
    #pay{
    background: #fae2db;
    border-radius: 4.3566px;
    margin: 1px;
    }
    #tryimage{
    width: 500px;
    height: 351.38px;
    margin-top:45px;;
    }
    #connecting{
    margin-top: 50px;
    }
    #connecting-paragraph{
    font-size: 20px;
    line-height: 36px;
    }
    #why-container1{
        border-bottom-right-radius: 650px 300px;
        height: 1000px;
    }
    #why-container{
    background-color:#FFFFFF;
    margin-top: 390px;  
    }
    #why{
    margin-top: 150px;  
    }
    #art{
    margin-top: 50px;
    }
    #Ellipse-12{
        margin-left: 70px;
    }
    #Ellipse-13{
        margin-left: 270px;
        margin-top: -200px;
    }
    #Ellipse-14{
        margin-left: 230px;
        margin-top: -420px;
    }
        #imageclassA{
            float: left;
            margin: 15px;
            border-radius: 50%;
            width: 50PX;
        }
    #imageclass{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        }
        #imageclass4{
            float: left;
            margin: 15px;
            border-radius: 50%;
            width: 50PX;
            }
        #imageclass11{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 25px;
        }
        #imageclass1{
            float: left;
            margin: 15px;
            border-radius: 50%;
            width: 45PX;
        }
    #safety{
    background: #FCCF00;   
    }
    #safety-heading{
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;
    margin-top: 60px;
    }
    #safety-paragraph{
    font-family: Avenir;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
     }
     #tryimage1{
        width: 500px;
        height: 351.38px;
        margin-top: 60px;
    }
    #join-community{
    margin-top: 70px;
    }
    #tryimage2{
    width: 426px;
    height: 410px;
    margin-top: 60px;   
    }
    #btnnn{ 
    background: #584DCD;
    border-radius: 6px;
    }
    #footer{
    background-color: #c4c4c4; 
    }    
    #connect{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 68px;
    color: #333333;
    margin-top: 60px;
    margin-left: 100px;
    }
    #connect2{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    margin-left: 100px;
    color: #333333;
    margin-top: -30px;
    }
    #footer-image{
    text-align: center;
    margin-left: 100px;  
    padding-right: 30px;
    }
    #footer-image1{
    padding-right: 25px;
    }
    #contact-email{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-left: 100px; 
    }
    #privacy{
    margin-top: 65px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    margin-left: 100px;
    }
    #privacy-ps{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-left: 100px;
    color: #333333;
    }
    #copyright{
    margin-top: 65px; 
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-left: 100px;
    color: #333333;  
    }
    
    


@media only screen and (max-width:375px) {
    
    #fluid-one{
        background: #243853;
        height: 650px;
        border-bottom-right-radius: 2050px 200px;
    }
    #ellipse7-orange{
        width: 240px;
        height: 140px;
        margin-top: -552px;
        margin-left: 119px; 
    }
    #ellips70{
        margin-top: -740px;
        width: 10px;
        margin-left: 90px;
    }
    #ellipse75{
        margin-top: -860px;
        width: 10px;
        margin-left: 68px;
    }
    #ellipse71{
        margin-top: -955px;
        width: 10px;
        margin-left: 95px;
    }
    #ellipse74-girl{
        width: 200px;
        margin-left: 80px;
        margin-top: -477px; 
    }
   
    #join{ 
        position: relative;
        top: 230px;
        color: #F2F2F2;
        width: 100%;
        margin-left: 2px;
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
    }
    #sell{
        position: relative;
        top: 250px;
        color:#FFFFFF;
        width: 100%;
        margin-left: 1px;
        font-family: Avenir;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 900;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
    }
    #btnn{
        margin-left: -40px;
        position: relative;
        height: 40px;
        left: 133px;
        top: 170px;
        border-radius: 6px;  
    }
    #word{
        font-size: 1rem;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        color: #FFFFFF;    
    }
    #go-to-market{
        position: relative;
        height: 27px;
        margin-left: -180px;
        width: 201px;
        left: 126px;
        top: 224px;
        border-radius: nullpx;
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
    }
    #ooooo{
        margin-top: -90px;
        height: 226px; 
        background: #ffffff;
        border-radius: 6px;
        width: 90%;
        margin-left: 17px;
    }
    #openmarket{
        margin-top: 30px;
        font-family: Avenir;
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
    #why-container{
        background-color:#FFFFFF;
        margin-top: 100px;  
    }
    #why{
        margin-top: 50px;
        font-size: 2rem;
        text-align: left;
        margin-left: 11px;
    }
    #open-market-brings{
        margin-left: 10px;      
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: #000000;
    }
    #artificial{
        margin-top: -80px;
        background: #c6ccd4;
        border-radius: 4.3566px;
    }
    #imageclassA{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 45px;
    }
    #imageclass11{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 55px;
    }
    #imageclass{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 33px;
    }
    #imageclass4{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 25px;
    }
    #connecting{
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    }
    #connecting-paragraph{
    font-size: 1rem;
    line-height: 36px;
    /* text-align: center; */
    }
    #safety-heading{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;;
    line-height: 44px;
    margin-top: 60px;
    }
    #safety-paragraph{
    font-family: Avenir;
    font-style: normal;
    text-align: center;
    font-size: 1rem;
    line-height: 36px;
    font-weight: 500;
    }
    #join-community{
        margin-top: 70px;
        font-size: 2rem;
        text-align: center;
        }
    #connecting-paragraph{
        font-size: 1rem;
        line-height: 36px;
        text-align: center;
    }
    #btnnn{
        
        margin-left: 100px;
    }
}

@media only screen and (min-width:414px) {
    
    #fluid-one{
        background: #243853;
        height: 650px;
        border-bottom-right-radius: 2050px 200px;
    }
    #ellipse7-orange{
        width: 240px;
        height: 150px;
        margin-top: -545px;
        margin-left: 158px; 
    }
    #ellips70{
        margin-top: -740px;
        width: 10px;
        margin-left: 90px;
    }
    #ellipse75{
        margin-top: -860px;
        width: 10px;
        margin-left: 68px;
    }
    #ellipse71{
        margin-top: -955px;
        width: 10px;
        margin-left: 95px;
    }
    #ellipse74-girl{
        width: 200px;
        margin-left: 80px;
        margin-top: -475px; 
    }
    #sell{
        position: relative;
        top: 230px;
        color: #FFFFFF;
        width: 100%;
        margin-left: 5px;
        font-family: Avenir;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
    }
    #join{ 
        position: relative;
        top: 200px;
        color: #F2F2F2;
        width: 100%;
        margin-left: 3px;
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
    }
    #btnn{
        /* margin-left: -45px; */
        position: relative;
        /* height: 40px; */
        left: 80px;
        top: 163px;
        border-radius: 6px;  
    }
    #word{
        font-size: 1rem;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        color: #FFFFFF;
    }
    #go-to-market{
        position: relative;
        height: 27px;
        margin-left: -215px;
        width: 201px;
        left: 106px;
        top: 220px;
        border-radius: nullpx;
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
    }
    #ooooo{
        margin-top: -80px;
        height: 226px; 
        background: #ffffff;
        border-radius: 6px;
        width: 90%;
        margin-left: 18px;
    }
    #openmarket{
        font-family: Avenir;
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
    #why-container{
        background-color:#FFFFFF;
        margin-top: 100px;  
    }
    #why{
        margin-top: 50px;
        font-size: 2rem;
        text-align: left;
        margin-left: 11px;
    }
    #open-market-brings{
        margin-left: 10px;      
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: #000000;
    }
    #artificial{
        margin-top: -80px;
        background: #c6ccd4;
        border-radius: 4.3566px;
    }
    #imageclassA{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 30px;
    }
    #imageclass11{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 45px;
    }
    #imageclass{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 33px;
    }
    #imageclass4{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 25px;
    }
    #connecting{
        margin-top: 50px;
        text-align: center;
        font-size: 2rem;
    }
    #connecting-paragraph{
        font-size: 1rem;
        line-height: 36px;
        text-align: center;
    }
    #safety-heading{
        text-align: center;
        font-weight: 700;
        font-size: 2rem;;
        line-height: 44px;
        margin-top: 60px;
    }
    #safety-paragraph{
        font-family: Avenir;
        font-style: normal;
        text-align: center;
        font-size: 1rem;
        line-height: 36px;
        font-weight: 500;
    }
    #join-community{
        margin-top: 70px;
        font-size: 2rem;
        text-align: center;
        }
    #connecting-paragraph{
        font-size: 1rem;
        line-height: 36px;
        text-align: center;
    }
    #btnnn{
        
        margin-left: 120px;
    }
}
@media only screen and (max-width:320px) {
    
    #fluid-one{
        background: #243853;
        height: 650px;
        border-bottom-right-radius: 2050px 200px;
    }
    #ellipse7-orange{
        width: 240px;
        height: 140px;
        margin-top: -558px;
        margin-left: 64px; 
    }
    #ellips70{
        margin-top: -740px;
        width: 10px;
        margin-left: 35px;
    }
    #ellipse75{
        margin-top: -875px;
        width: 10px;
        margin-left: 28px;
    }
    #ellipse71{
        margin-top: -950px;
        width: 10px;
        margin-left: 50px;
    }
    #ellipse74-girl{
        width: 200px;
        margin-left: 50px;
        margin-top: -540px; 
    }
   
    #join{ 
        position: relative;
        top: 230px;
        color: #F2F2F2;
        width: 100%;
        margin-left: 2px;
        font-family: Avenir;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
    }
    #sell{
        position: relative;
        top: 260px;
        color:#FFFFFF;
        width: 100%;
        margin-left: 1px;
        font-family: Avenir;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 900;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
    }
    #btnn{
        margin-left: -45px;
        position: relative;
        height: 40px;
        left: 133px;
        top: 170px;
        border-radius: 6px;  
    }
    #word{
        font-size: 1rem;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        color: #FFFFFF;    
    }
    #go-to-market{
        position: relative;
        height: 27px;
        margin-left: -180px;
        width: 201px;
        left: 126px;
        top: 224px;
        border-radius: nullpx;
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
    }
    #ooooo{
        margin-top: -90px;
        height: 226px; 
        background: #ffffff;
        border-radius: 6px;
        width: 90%;
        margin-left: 17px;
    }
    #openmarket{
        margin-top: 30px;
        font-family: Avenir;
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
    #why-container{
        background-color:#FFFFFF;
        margin-top: 100px;  
    }
    #why{
        margin-top: 50px;
        font-size: 1.8rem;
        text-align: left;
        margin-left: 11px;
    }
    #open-market-brings{
        margin-left: 10px;      
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: #000000;
    }
    #Ellipse-12{
        margin-left: 50px;
    }
    #Ellipse-13{
        margin-left: 230px;
    }
    #Ellipse-14{
        margin-left: 220px;
    }
    #artificial{
        margin-top: -80px;
        background: #c6ccd4;
        border-radius: 4.3566px;
    }
    #imageclassA{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 55px;
    }
    #imageclass11{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 75px;
    }
    #imageclass{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 43px;
    }
    #imageclass4{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 35px;
    }
    #imageclass1{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 45PX;
        margin-top: 20px;
    }
    #affordable{
        background: #d0f5ec;
        height: 83px;
        border-radius: 4.3566px;
        }
    #connecting{
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    }
    /* #connecting-paragraph{
    font-size: 1rem;
    line-height: 36px;
    text-align: center;
    } */
    #safety-heading{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;;
    line-height: 44px;
    margin-top: 60px;
    }
    #safety-paragraph{
    font-family: Avenir;
    font-style: normal;
    text-align: center;
    font-size: 1rem;
    line-height: 36px;
    font-weight: 500;
    }
    #join-community{
        margin-top: 70px;
        font-size: 2rem;
        text-align: center;
        }
    #connecting-paragraph{
        font-size: 1rem;
        line-height: 36px;
        text-align: center;
    }
    #btnnn{
        
        margin-left: 100px;
    }
}
@media only screen and (max-width:360px) {
    
    #fluid-one{
        background: #243853;
        height: 650px;
        border-bottom-right-radius: 2050px 200px;
    }
    #ellipse7-orange{
        width: 240px;
        height: 140px;
        margin-top: -558px;
        margin-left: 104px; 
    }
    #ellips70{
        margin-top: -740px;
        width: 10px;
        margin-left: 35px;
    }
    #ellipse75{
        margin-top: -875px;
        width: 10px;
        margin-left: 28px;
    }
    #ellipse71{
        margin-top: -950px;
        width: 10px;
        margin-left: 50px;
    }
    #ellipse74-girl{
        width: 200px;
        margin-left: 50px;
        margin-top: -535px; 
    }
   
    #join{ 
        position: relative;
        top: 180px;
        color: #F2F2F2;
        width: 100%;
        margin-left: 2px;
        font-family: Avenir;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
    }
    #sell{
        position: relative;
        top: 200px;
        color:#FFFFFF;
        width: 100%;
        margin-left: 1px;
        font-family: Avenir;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 900;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
    }
    #btnn{
        margin-left: -45px;
        position: relative;
        height: 40px;
        left: 133px;
        top: 130px;
        border-radius: 6px;  
    }
    #word{
        font-size: 1rem;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        color: #FFFFFF;    
    }
    #go-to-market{
        position: relative;
        height: 27px;
        margin-left: -180px;
        width: 201px;
        left: 126px;
        top: 190px;
        border-radius: nullpx;
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
    }
    #ooooo{
        margin-top: -90px;
        height: 226px; 
        background: #ffffff;
        border-radius: 6px;
        width: 90%;
        margin-left: 17px;
    }
    #openmarket{
        margin-top: 30px;
        font-family: Avenir;
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
    #why-container{
        background-color:#FFFFFF;
        margin-top: 100px;  
    }
    #why{
        margin-top: 50px;
        font-size: 1.8rem;
        text-align: left;
        margin-left: 11px;
    }
    #open-market-brings{
        margin-left: 10px;      
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: #000000;
    }
    #Ellipse-12{
        margin-left: 50px;
    }
    #Ellipse-13{
        margin-left: 230px;
    }
    #Ellipse-14{
        margin-left: 220px;
    }
    #artificial{
        margin-top: -80px;
        background: #c6ccd4;
        border-radius: 4.3566px;
    }
    #imageclassA{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 55px;
    }
    #imageclass11{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 75px;
    }
    #imageclass{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 43px;
    }
    #imageclass4{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 35px;
    }
    #imageclass1{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 45PX;
        margin-top: 20px;
    }
    #affordable{
        background: #d0f5ec;
        height: 83px;
        border-radius: 4.3566px;
        }
    #connecting{
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    }
    /* #connecting-paragraph{
    font-size: 1rem;
    line-height: 36px;
    text-align: center;
    } */
    #safety-heading{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;;
    line-height: 44px;
    margin-top: 60px;
    }
    #safety-paragraph{
    font-family: Avenir;
    font-style: normal;
    text-align: center;
    font-size: 1rem;
    line-height: 36px;
    font-weight: 500;
    }
    #join-community{
        margin-top: 70px;
        font-size: 2rem;
        text-align: center;
        }
    #connecting-paragraph{
        font-size: 1rem;
        line-height: 36px;
        text-align: center;
    }
    #btnnn{
        
        margin-left: 100px;
    }

}
@media only screen and (min-width:1280px){
    #ellipse7-orange{
        width: 419px;
        height: 320px;
        margin-left: 292px;
        margin-top: 1px;
    }
    #ellipse74-girl{
        width: 350px;
        margin-left: 220px;
        margin-top: -280px;   
    }
    /*orange */
    #ellips70{
        margin-top: -720px;
        width: 30px;
        margin-left: 235px;
    }
    /*green */
    #ellipse75{
        margin-top: -890px;
        width: 25px;
        margin-left: 200px;
    }
    /*yellow*/
    #ellipse71{
        margin-top: -975px;
        width: 20px;
        margin-left: 248px;
    }
    #sell{
        margin: 30px;
        font-family: Avenir;
        font-style: normal;
        font-weight: 900;
        font-size: 3rem;
        line-height: 68px;
        color:#FFFFFF;
        margin-top: -130px;
        margin-left: 80px;
        }
        #join{
        margin: 30px;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 44px;
        color: #F2F2F2;
        text-align: left;
        margin-left: 160px;
    }
    #btnn{
        margin: 40px;
        background: #584DCD;
        border-radius: 6px;
        margin-left: 80px;
    }
    #go-to-market{
        left: 300px;
        top:165px;
        text-decoration: none;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        color: #FFB55E;
    }
    #ooooo{
        margin-top: -90px;
        height: 526px; 
        background: #FFFFFF;
        border-radius: 6px;
    }
    #openmarket{
        font-family: Avenir;
        font-style: normal;
        font-weight: 600;
        font-size: 3rem;
        line-height: 55px;
        text-align: center;
        margin-top: 50px;
        margin: 15px;
        color: #333333;
    }
    #why-container{
        background-color:#FFFFFF;
        margin-top: 500px;  
        }
    #why{
        margin-left: 76px;
        margin-top: 80px;
        font-family: Avenir;
        font-style: normal;
        font-weight: 900;
        font-size: 45px;
        line-height: 61px;
        color: #000000;
        }
        #open-market-brings{
        margin-left: 76px;      
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
    }
    
    
    #artificial{
        margin-top: 20px;
        background: #c6ccd4;
        border-radius: 4.3566px;
    }
    #connecting{
        margin-top: 10px;
        font-size: 2.1rem;
        text-align: left;
        margin-left: 15px;
        }
        #connecting-paragraph{
        font-size: 1.3rem;
        /* line-height: 36px; */
        
        text-align: left;
        margin-left: 15px;
        }
        .cardee{
            margin: 30px;
            margin-top: 60px;
            
        }
        #ooooo1{
            height: 360px;
        }
        #safety{
            height: 360px;   
            }
        #safety-heading{
        text-align: left;
        font-weight: 700;
        font-size: 2rem;;
        line-height: 44px;
        margin-top: 60px;
        }
        #safety-paragraph{
        font-family: Avenir;
        font-style: normal;
        text-align: left;
        font-size: 1.3rem;
        line-height: 36px;
        font-weight: 500;
        }
        #join-community{
            margin-top: 70px;
            font-size: 2rem;
            text-align: left;
            margin-left: 15px;
            }
        #btnnn{
            
            margin-left: 17px;
     }
     #footer-image{
        text-align: center;
        margin-left: 90px;  
        padding-right: 15px;
        }
        #footer-image1{
        padding-right: 15px;
        }

   
 }

