<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body id="body">
  <!-- <div id="body"> -->
  <nav class="uk-navbar-container" uk-navbar id="try">

    <div class="uk-navbar-left">
      <ul>
        <li class="uk-active uk-margin-large-left"><a id="open-market" href="#">Open Market</a></li>
      </ul>
      <ul class="uk-navbar-nav uk-visible@m">


        <li>
          <a href="#" id="nav-link">Products</a>

        </li>
        <li>
          <a href="#" id="nav-link">Features</a>

        </li>
        <li>
          <a href="#" id="nav-link">FAQs</a>

        </li>
        <li>
          <a href="#" id="nav-link">About</a>

        </li>
        <li><a href="#" id="nav-link">Contact</a></li>
      </ul>

    </div>

    <div class="uk-navbar-right">

      <ul class="uk-navbar-nav uk-visible@m">
        <li class="uk-active"><a href="#" id="login">Login</a></li>

        <li><a href="#"><button class="uk-button uk-button-default uk-margin-large-right" id="signup-button"><span
                id="word">Sign
                Up</span></button></a></li>
      </ul>
      <div class="uk-hidden@m">
        <a href="#offcanvas" class="uk-navbar-toggle " uk-toggle="target: #offcanvas-nav" uk-icon="icon: table"></a>
      </div>

      <!-- <li><a href="#"><span class="uk-margin-large-right" uk-icon="icon: table"></span></a></li>  -->

    </div>

    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
      <div class="uk-offcanvas-bar">

        <ul class="uk-nav">

          <li>
            <a href="#" id="nav-link">Products</a>

          </li>
          <li>
            <a href="#" id="nav-link">Features</a>

          </li>
          <li>
            <a href="#" id="nav-link">FAQs</a>

          </li>
          <li>
            <a href="#" id="nav-link">About</a>

          </li>
          <li><a href="#" id="nav-link">Contact</a></li>
          <li class="uk-active"><a href="#" id="login">Login</a></li>

          <li><a href="#"><button class="uk-button uk-button-default uk-margin-large-right" id="signup-button"><span
                  id="word">Sign
                  Up</span></button></a></li>
        </ul>

      </div>
    </div>

  </nav>

  <div uk-grid id="fluid-one">
    <div class="uk-width-1-2@s ">
      <p id="sell">Sell and buy on the go!</p>
      <p id="join">Join the fastest moving online market square that connects millions of sellers and buyers
        at ease.
      </p>
      <button class="uk-button uk-button-default"  id="btnn"> <span id="word">Get Started</span> </button>
     <span class="uk-visible@l"> <a href="#" id="go-to-market" >Go to marketplace >></a></span><br>
     <p class="uk-hidden@l"> <a href="#" id="go-to-marke" >Go to marketplace >></a></p>
      <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quia accusamus id, similique quos distinctio temporibus ab facilis iusto, eius quidem itaque ipsam corrupti rerum? Iusto cum laboriosam hic libero!</p> -->
    </div>
    <div class="uk-width-1-2@s uk-margin-sma-left">
      <!-- <p ><img src="/assets/images/Ellipse 7.png" class="card-img-top" alt="..." id="ellipse7-orange" ></p> -->
      <img data-src="/assets/images/Ellipse 7.png" alt="" uk-img width="497px" height="26px" id="ellipse7-orange">
      <p><img src="/assets/images/Ellipse 74.png" alt="..." uk-img width="400px" height="500" id="ellipse74-girl"></p>
      <p><img src="/assets/images/Ellipse 70.png" alt="..." uk-img width="30px" height="30px" id="ellips70-or"></p>
      <p><img src="/assets/images/Ellipse 75.png" alt="..." uk-img width="20px" height="20px" id="ellips75-green"></p>
      <p><img src="/assets/images/Ellipse 71.png" alt="..." uk-img width="16px" height="16px" id="ellips71-yellow"></p>

    </div>
  </div>

  <div uk-grid>
    <div></div>
    <div id="ooooo">
      <p id="openmarket">Openmarket is an online marketplace that connects buyers and sellers worldwide.</p>
      <div id="desktop"><img data-src="/assets/images/desktop-5.png" width="800" height="200" alt="" uk-img></div>
      <p></p>


    </div>
    <div></div>
  </div>
  <div uk-grid id="why-container">

    <div class="uk-width-1-2@s">
      <h3 id="why">Why Open Market?</h3>
      <p id="open-market-brings">Open market brings you a whole new type of experience. With the aid of artificial
        intelligence coupled with
        top level security, you get quality products that match your taste presented to you at an affordable price
        while ensuring you pay for what has been delivered to you.</p>
      <p ><img src="/assets/images/Ellipse 12.png " alt="No image" srcset="" id="Ellipse-12"
           /></p>
      <p><img src="/assets/images/Ellipse 13.png" alt="No image" srcset="" id="Ellipse-13" /></p>
      <p><img src="/assets/images/Ellipse 14.png" alt="No image" srcset="" id="Ellipse-14" /></p>

    </div>

    <div class="uk-width-expand@s uk-margin-large-top uk-margin-large-right uk-margin-large-left  ">
      <div>
        <div class=" uk-margin " id="artificial">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" width="50" height="50" src="/assets/images/artificial.PNG">
              </div>
              <div class="uk-width-expand">
                <h3 id="artificial-heading">Artificial Intelligence</h3>
                <p id="textclass">Open market research uses industry standard artificial intelligence algorithm to
                  recommend
                  and match
                  sellers with buyers.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-card uk-card-default uk-margin" id="security">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" width="50" height="50" src="/assets/images/security.PNG">
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom" id="artificial-heading">Security</h3>
                <p id="textclass1">The security of our platform and users is very important to us which is why we have
                  designed a platform
                  with ease and security im mind for both users and sellers.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-card uk-card-default uk-margin" id="quality">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" width="50" height="50" src="/assets/images/quality.PNG">
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom" id="artificial-heading">Quality</h3>
                <p id="textclass2">The quality of the products on sale on our platform is important, hence we ensure
                  only
                  products in uptmost
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-card uk-card-default uk-margin" id="affordable">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" width="50" height="50" src="/assets/images/affordable.PNG">
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom" id="artificial-heading">Affordable Price</h3>
                <p id="textclass3">Prices of products on open market </p>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-card uk-card-default uk-margin-medium-bottom" id="pay">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" width="50" height="50" src="/assets/images/delivery.PNG">
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom" id="artificial-heading">Pay On Delivery</h3>
                <p id="textclass4">Our delivery policy is to strictly payment on delivery, this is to avoid or curb
                  fraudulent activities on
                  theses platfrom.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="uk-child-width-expand@s " uk-grid
    uk-scrollspy="cls: uk-animation-slide-bottom; target: div; delay: 100; repeat: true" uk-grid id="ooooo1">
    <div class="uk-width-small"></div>
    <div>
      <div class="uk-margin-xlarge-top uk-margin-xlarge-bottom uk-animation-slide-left" id="connecting-image">
        <img data-src="/assets/images/Ellipse 68.png" width="380" height="20" alt="" uk-img id="connecting-image">
      </div>
    </div>
    <div>
      <div class=" uk-margin-xlarge-top " uk-grid>
        <h1 id="connecting">Connecting sellers with buyers.</h1>
        <p id="connecting-paragraph">
          Open market connects sellers with customers interested on their product, helping them sell and earn faster,
          just as traditional market.
        </p>
      </div>
    </div>
    <div class="uk-width-small"></div>
  </div>
  <div class="uk-child-width-expand@s " 
    uk-scrollspy="cls: uk-animation-slide-bottom; target: div; delay: 100; repeat: true" id="safety" uk-grid>
    <div class="uk-width-small"></div>
    <div>
      <div class="uk-margin-xlarge-top uk-margin-xlarge-bottom" >
        <h1 id="safety-heading">Your safety is very important to us.</h1>
        <p id="safety-paragraph">We ensure that sellers keep to their word by providing a trust system that handles
          fraud and refunds.</p>
      </div>
    </div>
    <div>
      <div class=" uk-margin-xlarge-top uk-margin-xlarge-bottom">
        <img data-src="/assets/images/Ellipse 68 (1).png" width="500" height="351" alt="" uk-img id="safety-image">
      </div>
    </div>
    <div class="uk-width-small"></div>
  </div>

  <div class="uk-child-width-expand@s uk-visible@l " uk-grid
    uk-scrollspy="cls: uk-animation-slide-bottom; target: div; delay: 400; repeat: true" >
    <div>
      <div class="uk-margin-xlarge-left uk-margin-xlarge-top uk-margin-xlarge-bottom">
        <img data-src="/assets/images/Ellipse 72.png" width="380" height="20" alt="" uk-img>

      </div>
    </div>
    <div>
      <div class="uk-margin-xlarge-right uk-margin-xlarge-top uk-margin-xlarge-bottom ">
        <h1 id="join-community">Join the Open Market Community.</h1>
        <p id="signup-paragraph">
          Sign up and be a part of a fast growing online community that’s trusted and capable of making buying and
          selling a piece of cake for you.
        </p>
        <button type="button" class="btn " id="btnnn"> <span id="word">Get Started</span> </button>
      </div>
    </div>
  </div>




  <div class="uk-child-width-expand@s uk-height-xlarge-bottom" uk-grid id="footer">
    <div class="uk-width-small" ></div>
    <div >

      <p class="uk-margin-large-top" id="connect">Connect </p>
      <p id="connect2">with us</p>
      <p id="social">
        <img src="assets/images/twitter.png" alt="" srcset="" class="social">
        <img src="assets/images/Vector.png" alt="" srcset="" class="social">
        <img src="assets/images/linkedin.png" alt="" srcset="" class="social">
      </p>
      <p class="uk-margin-large-bottom" id="contact-email">or email us at <br> info@openmarket.com</p> 
    </div>

    <div class="uk-margin-large-top">
      <p class="" id="privacy">
        Privacy
      </p>
      <p ><a href="#" id="privacy-ps">Cookies Policy</a></p>
      <p > <a href="#" id="privacy-ps">Privacy Policy</a></p>
      <p ><a href="#" id="privacy-ps">Terms & Condition</a></p>

    </div>
    <div class="uk-margin-large-top">

      <p  id="privacy">
        Get Help
      </p>
      <p ><a href="#" id="privacy-ps">FAQ’S</a></p>
      <p ><a href="#" id="privacy-ps">Contact us</a></p>

    </div>

    <div class="uk-margin-large-top">
      <p  id="privacy">
        Open Market
      </p>
      <p ><a href="#" id="privacy-ps">What we do</a></p>
      <p ><a href="#" id="privacy-ps">About Us</a></p>
    </div>

    <div>
      <div class="uk-margin-large-top">
        <p  id="copyright"> Copyright © 2020 Open Market. All <br> rights reserved.</p>
      </div>
    </div>
  </div>














  <!-- </div> -->
</body>

</html>




<router-outlet></router-outlet>