<div id="div-color">
  <nav class="navbar navbar-expand-lg navbar-light " id="try">
    <div class="container-fluid">
      <a class="navbar-brand" id="open-market" href="#">Open Market</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " id="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <form class="d-flex">
          <!-- <a id="login">Login</a> -->
          <a class="nav-link" id="nav-link" href="#" id="login">Login</a>
          <!-- <button class="hello" type="submit">Sign up</button> -->
          <button type="button" class="btn " id="btnnn"> <span id="word">Sign Up</span> </button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid" id="fluid-one">
    <div class="row">
      <div class="col-sm" >
        <p id="sell">Sell and buy on the go!</p>
        <p id="join">Join the fastest moving online market <br> square that connects millions of <br> sellers and buyers at ease.
        </p>
        <button type="button" class="btn " id="btnn"> <span id="word">Get Started</span> </button>
        <a href="#" id="go-to-market">Go to marketplace >></a>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quia accusamus id, similique quos distinctio temporibus ab facilis iusto, eius quidem itaque ipsam corrupti rerum? Iusto cum laboriosam hic libero!</p> -->
      </div>


      <div class="col-12 col-md-5">
        <!-- <div id="ellipse"></div>
        <div id="ellipse11"></div>
        <div id="ellipse22"></div>
        <div id="ellipse33"></div> -->
        <div class="cardw">
          <img src="/assets/images/screen.PNG" class="card-img-top" alt="..." id="girl">

        </div>
        <!-- <img src="/assets/images/screen.PNG" alt="image" id="image"> -->
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quae itaque natus cumque quasi ex culpa fuga molestias, assumenda tenetur! Saepe ratione dolores voluptates necessitatibus autem earum odit vero quaerat.</p> -->
      </div>
    </div>
  </div>
</div>
<div id="why-container1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" id="ooooo1"></div>
      <div class="col-sm" id="ooooo">
        <p id="openmarket">Openmarket is an online marketplace that connects buyers and sellers worldwide.</p>
        <div class="cardh">
          <img src="/assets/images/desktop-5.png" class="card-img-top" alt="..." >

        </div>
      </div>
      <div class="col-md-2" id="ooooo1"></div>
    </div>
  </div>
  <br>
  <div class="container-fluid" id="fluid-two">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-sm" id="mixed-yellow">


      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
<div class="container-fluid" id="why-container">
  <div class="row">
    <div class="col-md-5">
      <h3 id="why">Why Open Market?</h3>
      <p id="open-market-brings">Open market brings you a whole new type of experience. With the aid of artificial
        intelligence coupled with
        top level security, you get quality products that match your taste presented to you at an affordable price
        while ensuring you pay for what has been delivered to you.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5" id="art">
      <div id="artificial">
        <p><img src="/assets/images/artificial.PNG" alt="No image" srcset="" id="imageclass" /></p>
        <h6 id="artificial-heading">Artificial Intelligence</h6>
        <p id="textclass">Open market research uses industry standard artificial intelligence algorithm to recommend
          and match
          sellers with buyers.</p>
      </div>
      <div id="security">
        <p><img src="/assets/images/security.PNG" alt="No image" srcset="" id="imageclass" /></p>
        <h6 id="artificial-heading">Security</h6>
        <p>The security of our platform and users is very important to us which is why we have designed a platform
          with ease and security im mind for both users and sellers.</p>
      </div>
      <div id="quality">
        <p><img src="/assets/images/quality.PNG" alt="No image" srcset="" id="imageclass" /></p>
        <h6 id="artificial-heading">Quality</h6>
        <p>The quality of the products on sale on our platform is important, hence we ensure only products in uptmost
        </p>
      </div>
      <div id="affordable">
        <p><img src="/assets/images/affordable.PNG" alt="No image" srcset="" id="imageclass1" /></p>
        <h6 id="artificial-heading">Affordable Price</h6>
        <p>Prices of products on open market </p>
      </div>
      <div id="pay">
        <p><img src="/assets/images/delivery.PNG" alt="No image" srcset="" id="imageclass" /></p>
        <h6 id="artificial-heading">Pay On Delivery</h6>
        <p>Our delivery policy is to strictly payment on delivery, this is to avoid or curb fraudulent activities on
          theses platfrom.</p>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container-fluid" id="ooooo1">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <!-- <p id="imge">
        <img src="/assets/images/Ellipse 68.png" alt="" srcset="" id="tryimage">
      </p> -->
      <div class="carde"  >
        <img src="/assets/images/Ellipse 68.png" class="card-img-top" alt="...">
       
      </div>
      
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h1 id="connecting">Connecting sellers with buyers.</h1>
      <p id="connecting-paragraph">
        Open market connects sellers with customers interested on their product, helping them sell and earn faster,
        just as traditional market.
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container-fluid" id="safety">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h1 id="safety-heading">Your safety is very important to us.</h1>
      <p id="safety-paragraph">We ensure that sellers keep to their word by providing a trust system that handles
        fraud and refunds.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">

      <!-- <p id="imge"> -->
        <div class="carde"  >
          <img src="/assets/images/Ellipse 68 (1).png" class="card-img-top" alt="...">
         
        </div>
        <!-- <img src="/assets/images/Ellipse 68 (1).png" alt="" srcset="" id="tryimage1"> -->
      <!-- </p> -->
    </div>
    <div class="col-md-1"></div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <!-- <p id="imge">
        <img src="/assets/images/Ellipse 72.png" alt="" srcset="" id="tryimage2">
      </p> -->
      <div class="carde"  >
        <img src="/assets/images/Ellipse 72.png" class="card-img-top" alt="...">
       
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h1 id="join-community">Join the Open Market Community.</h1>
      <p id="connecting-paragraph">
        Sign up and be a part of a fast growing online community that’s trusted and capable of making buying and
        selling a piece of cake for you.
      </p>
      <button type="button" class="btn " id="btnnn"> <span id="word">Get Started</span> </button>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<br>
<div class="container-fluid" id="footer">
  <div class="row">
    <div class="col-md-2">
      <p id="connect">Connect </p>
      <p id="connect2">with us</p>
      <p>
        <img src="assets/images/twitter.png" alt="" srcset="" id="footer-image">
        <img src="assets/images/Vector.png" alt="" srcset="" id="footer-image1">
        <img src="assets/images/linkedin.png" alt="" srcset="">
      </p>
      <p id="contact-email">or email us at <br> info@openmarket.com</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <p id="privacy">
        Privacy
      </p>
      <p><a href="#" id="privacy-ps">Cookies Policy</a></p>
      <p><a href="#" id="privacy-ps">Privacy Policy</a></p>
      <p><a href="#" id="privacy-ps">Terms & Condition</a></p>
    </div>
    <div class="col-md-2">
      <p  id="privacy">
        Get Help
      </p>
      <p><a href="#" id="privacy-ps">FAQ’S</a></p>
      <p><a href="#" id="privacy-ps">Contact us</a></p>
    </div>
    <div class="col-md-2">
      <p id="privacy">
        Open Market
      </p>
      <p><a href="#" id="privacy-ps">What we do</a></p>
      <p><a href="#" id="privacy-ps">About Us</a></p>
    </div>

    <div class="col-md-3">
     <p id="copyright"> Copyright © 2020 Open Market. All <br> rights reserved.</p> 
    </div>
  </div>
</div>
<!-- </div> -->


<router-outlet></router-outlet>