
html{
    width: 100vw;
}
body{
    width: 100vw;
    display: grid;
    /* grid-template-columns: 45% 45%; */
}
.main{
    background-color: rgba(0, 0, 0, 0.6);;
   height: 1124px;
   width: 100vw;
}

.hero{
    width: 100vw;
    display: flex;
    /* grid-template-columns: 45% 45%; */
}
#hero{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),url("../image/Rectangle 165.png") ;
    background-position: left;
   background-size: cover;
   background-repeat: no-repeat;
   height: 1124px;
   width: 45vw;
}
#hero h1{
    font-weight: 800;
    font-size: 64px;
    color: #ffffff;
    padding-top: 350px;
    padding-left: 150px;
    
}

#hero p{
    color: #ffffff; 
    padding-left: 150px;
    padding-top: 40px;
    font-weight: 400;
    font-size: 24px;  
}

.back{
    display: flex;
}
.back img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.form{
    background-color: #F2F2F2;
    box-shadow: #584DCD;
    /* margin-top: -130%; */
    /* margin-left: 50%; */
    margin-left: 65px;
    height: 984px;
    border-radius: 10px;
    width: 550px;
    padding-top: 20px;
    align-self: center;
    /* width: 40vw; */
}


.form h1{
    font-size: 42px;
    font-weight: 800;
    color:#293146;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 80px;
    
}

.form p{
    margin-left: 20px;
}
  
  
  /* Input form Style */
    .input_wrap{
    margin-bottom: 30px;
    height: 50px;
    margin-left: 10%;
    position:relative;
    /* padding: 30px; */
  }
  input{
    height: 64px;
    width: 443px;
    border: .5px solid #000;
    border-radius: 6px;
  }
  label{
      padding: 20px;
  }
  input[type="text"] {
    border: 2px solid #afbdcf;
    border-radius: 5px;
    color: #584DCD;
    font-size: 14px;
    /* padding-left: 20px; */
    box-shadow: none; 
    width: 40px; 
  }
  
  /* Label style after Input feild is in focus. Can also use input:focus ~ label to select sibling. */
  
  input:focus + label, input:valid + label{
    font-size: 12px;
    color: #afbdcf;
    top: -5px;
    left:10px;
    background: #ffffff;
    padding: 0px 5px 0px 5px;
  }
  
  .input_wrap {width:auto; height:auto;
  }
  
  .input_wrap label {
    
    font-family:arial;
    font-size:16px;
    color: #afbdcf;
    position: absolute;
    top: 0;
    left: 0;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    pointer-events: none;
  
  }
  
  input[type="text"]:focus {outline:none;}

.forgot{
    margin-left: 66%;
    padding-top: 2px;
    color: #584DCD;
}
.btn1{
    margin: 20px;
    margin-left: 10%;
    height: 64px;
    width: 443px;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    padding-bottom: 10px;
    color:#fff;
    background-color: #584DCD;
}

#btn{
    display: flex;
}
.btn2{
    display: flex;
    margin: 20px;
    margin-left: 10%;
    height: 64px;
    width: 203px;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    border: solid .5px #584DCD;
    background-color: #f2f2f2;
    color:#584DCD;
}
.btn2 img{
    width: 30px;
    height: 30px;
}
.btn3 img{
    width: 30px;
    height: 30px;
}

.btn3{
    display: flex;
    margin: 20px;
    height: 64px;
    width: 203px;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    color:#000;
    text-align: center;

}
#or{
    display: grid;
    grid-template-columns: 33% 20% 33%;
    margin-left: 20%;
}
.hr1{
    width: 13vw;
    color: #000;
    height: 1px;
    background-color: #000;
    margin-left: -33%;
}
.hr2{
    width: 13vw;
    color: #000;
    height: 1px;
    background-color: #000;
    margin-left: -33%;
}
.or{
    margin-top: -13px;
    padding-left: 20px;
}


h6{
    text-align: center;
    padding-top: 120px;
}

@media only screen and (max-width:768px){
    .main{
         background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),url("../image/Rectangle 165.png") ;
    background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 1124px;
   width: 100vw;
    }
    #hero{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),url("../image/Rectangle 165.png") ;
    background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height:524px;
   width: 100vw;
    }
    .hero{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }


    #hero h1{
        font-weight: 800;
        font-size: 34px;
        color: #ffffff;
        padding-top: 10px;
        padding-left: 15px;
        
    }
    #hero p{
        color: #ffffff; 
        padding-left: 20px;
        font-weight: 400;
        font-size: 16px;  
    }

    .form{
        background-color: #F2F2F2;
        box-shadow: #584DCD;
        margin-top: -95%;
        margin-left: 5px;
        height: 884px;
        border-radius: 10px;
        width: 300px;
        padding-top: 20px;
        
        /* align-self: center; */
    }
    
    .form h1{
        font-size: 22px;
        font-weight: 800;
        color:#293146;
        /* text-align: center; */
        margin-bottom: 30px;
        margin-top: 80px;
        
    }
    
    .form p{
        margin-left: 20px;
    }
    input{
        height: 44px;
        width: 243px;
        border: .5px solid #000;
        border-radius: 6px;
      }
      label{
        padding: 10px;
    }
      .forgot{
        margin-left: 50%;
        padding-top: -20px;
        color: #584DCD;
    }
    .btn1{
        margin: 20px;
        margin-left: 10%;
        height: 44px;
        width: 243px;
        border-radius: 6px;
        padding: 20px;
        text-align: center;
        padding-bottom: 10px;
        color:#fff;
        background-color: #584DCD;
    }
    
    #btn{
        display: flex;
    }
    .btn2{
     
        margin-left: 35px;
        height: 44px;
        width: 130px;
        border-radius: 6px;
        font-size: 16px;
        text-align: center;
        border: solid .5px #584DCD;
        background-color: #f2f2f2;
        color:#584DCD;
        padding-left: 4px;
    }
    
    .btn3{
        margin-left: 35px;
        margin-left: 46px;
        height: 44px;
        font-size: 16px;
        width:130px;
        border-radius: 6px;
        text-align: center;
        background-color: #fff;
        color:#000;
        padding-left: 4px;
    
    }
        .btn2 img{
            width: 15px;
            height: 15px;
            /* padding-left: -10px; */
        }
        .btn3 img{
            width: 15px;
            height: 15px;
        }
    #or{
        display: grid;
        grid-template-columns: 27% 23% 33%;
        margin-left: 20%;
    }
    .hr1{
        width: 23vw;
        color: #000;
        height: 1px;
        background-color: #000;
        margin-left: -35%;
    }
    .hr2{
        width: 23vw;
        color: #000;
        height: 1px;
        background-color: #000;
        margin-left: -5%;
    }
    .or{
        margin-top: -13px;
        /* padding: 20px; */
    }
    h6{
        text-align: center;
        padding-top: 80px;
        font-size: 14px;
    }
}