
<section class ="main">
    <div class="hero">
      <div id="hero">
          <h1 >Welcome Back</h1>
          <p>Login into your account...</p>
      </div>
      
        <!-- form -->
      <div class="form">
          <a href="">
            <div class="back"><img src="https://cdn.iconscout.com/icon/free/png-512/back-arrow-1767531-1502435.png" alt=""><p style="margin-left: 5px; font-size: 20px;">Go Home</p></div>
          </a>
              <h1>Open Market</h1>
          <form action="" id="form">
            <div class="input_wrap">
                <input type="email" required />
                <label>Email Address</label>
            </div>
           
            <div class="input_wrap">
              <input type="password" required />
              <label>Password</label>
          </div>
            <a class="forgot">Forgot password?</a>
                    </form>
          
          <button class="btn1">Login</button>
          <div id="or">
              <div class="hr1"></div>
              <div class="or">or</div>
              <div class="hr2"></div>
          </div>
          
          <div id="btn">
            <button class="btn2"> <img src="https://cdn.worldvectorlogo.com/logos/google-icon.svg" alt="google">
                Google</button> 
                <button class="btn3"> <img src="https://cdn.worldvectorlogo.com/logos/facebook-2.svg" alt="facebook">
                    Facebook</button>
          </div>
          <h6>Don't have an account? <a href="signup">Register</a></h6>
          </div>
  
        

      </div>
  </section>
  