@media (max-width: 600px) {
    #fluid-one{
        background: #243853;
        height: 650px;
        border-bottom-right-radius: 2050px 200px;
    }
    #ellipse7{
        width: 240px;
        height: 140px;
        margin-top: -699px;
        margin-left: 64px;
        
    }
        #ellipse74{
            width: 200px;
            margin-left: 80px;
            margin-top: -550px; 
        }
        #ellips70{
        
            margin-top: -750px;
            width: 10px;
            margin-left: 60px;
        
        
        }
        #ellipse75{
            margin-top: -870px;
            width: 10px;
            margin-left: 40px;
        }
        #ellipse71{
            margin-top: -950px;
            width: 10px;
            margin-left: 70px;
        }
    #join{ 
        position: relative;
        top: 230px;
        color: #F2F2F2;
        width: 100%;
        margin-left: 3px;
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
    }
    #sell{
        position: relative;
        top: 250px;
        color: #F2F2F2;
        width: 100%;
        margin-left: 5px;
        font-family: Avenir;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
    }
    #btnn{
        margin-left: -45px;
        position: relative;
        height: 40px;
        left: 133px;
        top: 170px;
        border-radius: 6px;  
    }
    #word{
        font-size: 1rem;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        color: #FFFFFF;
        
        }
        #ooooo{
            margin-top: -90px;
            height: 626px; 
            background: red;
            border-radius: 6px;
            margin-left: -30px;
            }
    #go-to-market{
        position: relative;
        height: 27px;
        margin-left: -180px;
        width: 201px;
        left: 106px;
        top: 215px;
        border-radius: nullpx;
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
    }
    #ooooo{
        margin-top: -70px;
        height: 226px; 
        background: #ffffff;
        border-radius: 6px;
        width: 90%;
        margin-left: 15px;
    }
    #openmarket{
        font-family: Avenir;
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
    #why-container{
        background-color:#FFFFFF;
        margin-top: 100px;  
    }
    #why{
        margin-top: 50px;
        font-size: 32px;
        text-align: left;
        margin-left: 10px;
    }
    #artificial{
        margin-top: -70px;
        background: #c6ccd4;
        border-radius: 4.3566px;
        }
        #imageclass{
            float: left;
            margin: 15px;
            border-radius: 50%;
            width: 50PX;
            margin-top: 25px;
            }
    #imageclass11{
        float: left;
        margin: 15px;
        border-radius: 50%;
        width: 50PX;
        margin-top: 50px;
    }
    
        #imageclass4{
            float: left;
            margin: 15px;
            border-radius: 50%;
            width: 50PX;
            margin-top: 25px;
            }
    #textclass{
        font-family: Avenir;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

    }   
    #textclass1{
        font-family: Avenir;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 79px;

    } 
    #textclass2{
        font-family: Avenir;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

    } 
    #textclass3{
        font-family: Avenir;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

    } 
    #textclass4{
        font-family: Avenir;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

    }  
    #open-market-brings{
        margin-left: 10px;      
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #000000;
    }
    #safety-heading{
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        margin-top: 60px;
    }
    #safety-paragraph{
        font-family: Avenir;
        font-style: normal;
        text-align: center;
        font-size: 20px;
        line-height: 36px;
        font-weight: 500;
    }
#connecting{
margin-top: 50px;
text-align: center;
}
#connecting-paragraph{
font-size: 20px;
line-height: 36px;
text-align: center;
}
#join-community{
    margin-top: 70px;
    text-align: center;
    }
    #btnnn{
        text-align: center;
        margin-left: 90px;
    }
#privacy-ps{
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* margin-left: 100px; */
color: #333333;
/* text-align: center; */
margin-left: 80px;

} 
#connect{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 68px;
color: #333333;
margin-top: 60px;
margin-left: 80px;
}  
#connect2{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 30px;
margin-left: 100px;
color: #333333;
margin-top: -30px;
margin-left: 83px;
}   
#privacy{
margin-top: 65px;
font-family: Avenir;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
color: #333333;
margin-left: 80px;
} 
#footer-image{
    text-align: center;
    margin-left: 80px;  
    padding-right: 30px;

    }
    #footer-image1{
    padding-right: 25px;
    margin-left: -10px;
    }
    #contact-email{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-left: 100px;
    margin-left: 80px; 
    }  
#copyright{
        margin-top: 65px; 
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        margin-left: 80px;
        color: #333333;  
        }               
}