<nav class="navbar navbar-expand-lg navbar-light" id="try">
    <div class="container-fluid">
      <a class="navbar-brand" id="nav-link" href="#">Open Market</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-items">
            <a class="nav-link" id="nav-link" href="#">products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#">Contact</a>
          </li>
        </ul>
        
            <button class="btn btn-outline-success" type="submit">Sign Up</button>
          
        
      </div>
    </div>
  </nav>
  
  <div class="container-fluid" id="fluid-one">
    <div class="row">
      <div class="col-md-6">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate vel labore harum tenetur exercitationem sit
          laborum sunt dolore dolor, quo repellendus asperiores placeat, porro consequuntur et vitae odio hic officiis?
        </p>
      </div>
      <div class="col-md-6">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate vel labore harum tenetur exercitationem sit
          laborum sunt dolore dolor, quo repellendus asperiores placeat, porro consequuntur et vitae odio hic officiis?
        </p>
      </div>
    </div>
  </div>
  
  
  
  
  
  <router-outlet></router-outlet>
<p>products works!</p>
